body{
    background-color: peru;
}
h1{
    color:  #34495e;
    transition: color 0.5s;
}
.clicked{
    color: blue;
}
.form,
.greeting{
    display: None;
}
.showing{
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
    } to {
        opacity: 0.8;
    }
}
.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .7s linear;
}